@import "../../styles/variables.scss";
.app {
  max-width: 700px;
  margin: 0 auto;
  font-family: $font-primary;
  color: $color-primary;
  a {
    text-decoration: none;
    color: $color-primary;
  }
  *:focus {
    outline: none;
    box-shadow: 0 0 5px $color-tertiary;
  }
}
@media (max-width: 600px) {
  .app {
    margin: 5px;
  }
}
