@import "../../styles/variables.scss";
.dayOfWeather {
  margin: 10px auto;
  h2 {
    text-align: center;
    font-size: 2rem;
    font-family: $font-secondary;
  }
}
.dayOfWeather__groupedHours {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .dayOfWeather__groupedHours {
    flex-direction: column;
  }
}
