@import "../../styles/variables.scss";
.header__link {
  font-family: $font-secondary;
  font-size: 4vw;
  margin: 10px;
  text-decoration: none;
}
.header__link:hover {
  color: $color-tertiary;
}
@media (max-width: 900px) {
  .header__link {
    font-size: 8vw;
  }
}
