@import "../../styles/variables.scss";
.header {
  text-align: center;
}
.header__link {
  font-family: $font-secondary;
  font-size: 5vw;
  margin: 10px;
  text-decoration: none;
}
@media (max-width: 900px) {
  .header__link {
    font-size: 10vw;
  }
}
