@import "../../styles/variables.scss";
.header__link {
  font-family: $font-secondary;
  font-size: 3.5vw;
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: $color-tertiary;
  }
}
.header__star {
  background: none;
  border: none;
  font-size: 1rem;
}
.favoritetrue {
  color: $color-tertiary;
}
.favoritefalse {
  color: $color-secondary;
}

@media (max-width: 900px) {
  .header__link {
    font-size: 8vw;
  }
}
